.container_page_loading{
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $color1;
    &__circle{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height:80px;
        border-radius: 50%;
        background: linear-gradient(45deg, transparent, transparent 50%, #0104b4);
        animation: wheel_rotation 4s linear infinite;
        &__small{
            position: absolute;
            z-index: 3;
            border-radius: 50%;
            width: 60%;
            height: 60%;
            background: linear-gradient(45deg, transparent, transparent 50%, #34db02);
            animation: wheel_rotation2 4s linear infinite;
            &::before{
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                right:5px;
                bottom: 5px;
                background-color: $color1;
                border-radius: 50%;
                z-index: 1;
            }
        }
        &__tiny{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            border-radius: 50%;
            width: 30%;
            height: 30%;
            background: linear-gradient(45deg, transparent, transparent 50%, #f50390);
            animation: wheel_rotation 2s linear infinite;
            &::before{
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                right:5px;
                bottom: 5px;
                background-color: $color1;
                border-radius: 50%;
                z-index: 1;
            }
        }
        &::before{
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            right:5px;
            bottom: 5px;
            background-color: $color1;
            border-radius: 50%;
            z-index: 1;
        }
        @media(min-width: 900px){
            width: 250px;
            height: 250px;
        };
        @media(min-width: 1200px){
            width: 350px;
            height: 350px;
        };
    }
    &__text{
        margin-top: 3%;
        span{
            color: $color5;
            font-size: 14px;
            margin-top: 3%;
            position: relative;
            @media(min-width: 900px){
                font-size: 26px;
            };
            &::before{
                content: '';
                position: absolute;
                background-color: $color1;
                width: 20%;
                height: 30%;
                right: -2px;
                top: 9px;
                animation: discover_the_dots 1s linear infinite;
                @media(min-width: 900px){
                    top: 18px;
                };
            }
        }
        .circle_text{
            color: #0104b4;
        }
        .cup_text{
            color: $color3;
        }
        .loading_bar_text{
            color: #0104b4;
        }
    }
    &__cup{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-image:url("/App/src/resources/img/logo.svg");
        background-repeat: no-repeat;
        background-size:cover ;
        background-position: center;
        animation: blinking_logo 5.5s linear infinite;
        @media(min-width: 900px){
            width: 250px;
            height: 250px;
        };
        @media(min-width: 1200px){
            width: 350px;
            height: 350px;
        };
        .cup_text{
            color: #061220;
        }
    }
    &__loading_bar{
        width: 70%;
        height: 15px;
        border: solid 1px #34db02;
        opacity: 0.6;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 10%;
            height:100%;
            background-color: #0104b4;
            animation: loading_the_strap 6.5s both  ;
        }
    }
}
.container_page_loading-invisible{
    animation: hide_the_flags 2s 0s both ;
}
