@import "templates/reset";
@import "templates/grid";
@import "./variable/animations";
@import "./variable/colors";
@import "./variable/fonts";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

body{
    width: 100%;
};

@import './elements/language_selection_to_start.scss';
@import './elements/page_loading';
@import './elements/language_buttons';
@import './elements/home';