
///animacja zamykająca wybór języka na początku
@keyframes hide_the_flags {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
};

//animacja ladowania na stronie
@keyframes wheel_rotation {
    0%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
};