
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Dancing+Script:wght@400;700&family=Hina+Mincho&family=Indie+Flower&family=Permanent+Marker&family=Rampart+One&family=Shadows+Into+Light&display=swap');

$font1: 'Allison', sans-seri;
$font2: 'Dancing Script', sans-seri;
$font3: 'Indie Flower', sans-seri;
$font4: 'Permanent Marker', sans-seri;
$font5: 'Rampart One', sans-seri;
$font6: 'Shadows Into Light', sans-seri;
$font7: 'Hina Mincho', serif;